header, nav, main {
    max-width: 1240px;
    margin: auto;
}

/* NAVIGATION STUFF GOES HERE  */

ul{
    margin-left: 0 !important;
    border:none !important;
}

ul li{
    border: none !important;
}