/* NAVIGATION STUFF GOES HERE  */
nav button{display: none;}
#primaryNav{display: flex;}
nav{
    ul{
        margin-left: 2%;
        border-left: 1px solid rgba(255,255,255,.1);
    }
    ul li{
        border-right: 1px solid rgba(255,255,255,.1);
    }
    ul li a{
        border: none;
        font-size: 1rem;
        padding: .9rem 1.2rem;
        color: rgba(255,255,255,1);
        text-decoration: none;
        -webkit-transition: background .3s linear;
        transition: background .3s linear;
    }
    ul li a:hover{
        background: darken($menuColor, 5%);
    }
}